body {
    margin: 0 auto;
    background-color: #ddd;
    overflow-x: hidden;
    color: white;

}

/*------icons-----*/
.book-icon{
    color: darkred;
}
.star-icon{
    color: gold;
}

.review-icon{
    color: lawngreen;
}