{% extends 'base.html' %}
{% block content %}
    <h3> Add Review</h3>
    <div class="row">
        <form action="{{ url_for('insert_review') }}" method="POST" class="col s12">

            <div class="form-group">
                <label for="review_name">Review Name:</label>
                <input type="text" class="form-control" id="review_name" aria-describedby="review_name"
                       name="review_name"
                       placeholder="Enter review name">
            </div>
            <div class="form-group">
                <label for="book_name">Book Title:</label>
                <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Book Title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Author:</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="review_description">Review:</label>
                <textarea class="form-control" id="review_description" rows="5" name="review_description"></textarea>
            </div>
            <div class="form-group">
                <label for="rating_select">Rating</label>
                <select class="form-control" id="rating" name="rating" type="text">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">upload Book Cover</label>
                <input type="file" class="form-control-file" id="book_cover" aria-describedby="fileHelp">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="text" class="form-control" id="review_name" aria-describedby="review_name"
                       name="date"
                       placeholder="Enter Date">
            </div>
            <div class="form-group">
                <label for="username">Username</label>{% if session['username'] != None %}
                <input id="username" name="username" type="text" placeholder="Username"
                       value="{{ session['username'] }}" disabled=""
                       required>{% endif %}
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}