<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/91ec00a070.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
          type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bookbar.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>

    <title>Read & Review - the simple book review site</title>
</head>
<body>
<section>
    <div class="container-fluid title-container">
        <div class="container-fluid main-headings-container text-center main-title">
            <div class="row title-row">
                <div class="col-12 title-col">
                    <h1 class="display-3">Read and review - The simple book review site!</h1>
                </div>
            </div>
            <div class="social-row">
                <div class=" col-12 social-links ">
                    <h2><i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i></h2>
                </div>
            </div>
            <div class="row">
                <h4 class="col-12"><i class="far fa-copyright"></i> 2020 CT web design.</h4>
            </div>
        </div>

        <div class="book_container">
            <ul class="book_column">
                {% if 'username' in session %}
                    <li><a style="z-index: 2; left:10px" href="{{ url_for('add_review') }}">Add review</a></li>
                    <li><a style="z-index: 1; left:25px" href="{{ url_for('account') }}">Your Reviews</a></li>
                {% else %}
                    <li><a style="z-index: 1; left: 15px" href="{{ url_for('index') }}">Home</a></li>
                {% endif %}
            </ul>

            <ul class="book_column">
                <li><a style="z-index: 2;" href="{{ url_for('get_reviews') }}">All reviews</a></li>
                <li><a style="z-index: 1; left: 25px" href="{{ url_for('contact') }}">Contact us</a></li>
            </ul>

            <ul class="book_column">
                {% if 'username' not in session %}
                    <li><a style="z-index: 3; left: -10px" href="{{ url_for('login_page') }}">Log in</a></li>
                    <li><a style="z-index: 2;" href="{{ url_for('register') }}">Register</a></li>
                {% else %}
                    <li><a style="z-index: 1; left: 15px" href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>

<div class="container block-container mt-3 mb-3">
    {% block content %}
    {% endblock %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>