<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <title>Document</title>
</head>
<body>
<section>
    <h2> read and review - the simple online review site</h2>
    <div class="book_container">
        <ul class="book_column">
            <li><a style="z-index: 2; left:10px" href="{{url_for('add_review')}}">Add review</a></li>
            <li><a style="z-index: 1" href="#">your account</a></li>
        </ul>

        <ul class="book_column">
            <li><a style="z-index: 3; left: 15px" href="#">recent reviews</a></li>
            <li><a style="z-index: 2" href="{{url_for('get_reviews')}}">All reviews</a></li>
            <li><a style="z-index: 1; left: 25px" href="#">Book store</a></li>
        </ul>

        <ul class="book_column">
            <li><a style="z-index: 3; left: -10px" href="{{ url_for('login_page')}}">Log in</a></li>
            <li><a style="z-index: 2" href="{{ url_for('register')}}">Register</a></li>
            <li><a style="z-index: 1; left: 15px" href="#">log out</a></li>
        </ul>
    </div>
</section>


<hr>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>