{% extends 'base.html' %}
{% block content %}
    <h3>Edit Review</h3>
    <div class="card bg-info mb-3">
        <div class="row">
            <form action="{{ url_for('update_review', review_id=review._id) }}" method="POST" class="col s12">
                <div class="form-group">
                    <label for="review_name">Review Name:</label>
                    <input type="text" class="form-control" id="review_name" aria-describedby="review_name"
                           name="review_name"
                           placeholder="Enter review name" value="{{ review.review_name }}">
                </div>
                <div class="form-group">
                    <label for="book_name">Book Title:</label>
                    <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Book Title"
                           value="{{ review.book_name }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Author:</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Author"
                           value="{{ review.author }}">
                </div>
                <div class="form-group">
                    <label for="review_description">Review:</label>
                    <textarea class="form-control" id="review_description" rows="5"
                              name="review_description">{{ review.review_description }}</textarea>
                </div>
                <div class="form-group">
                    <label for="rating_select">Rating</label>
                    <select class="form-control" id="rating" name="rating" type="text">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">upload Book Cover</label>
                    <input type="file" class="form-control-file" id="book_cover" name="book_cover"
                           aria-describedby="fileHelp" value="{{ review.book_cover }}">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="review_name" aria-describedby="review_name"
                           name="date" value="{{ review.date }}"
                           placeholder="Enter Date">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>{% if session['username'] != None %}
                    <input id="username" name="username" type="text" placeholder="Username"
                           value="{{ session['username'] }}"
                           required>{% endif %}
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}