{% extends 'base.html' %}
{% block content %}
    <h3>Edit Review</h3>
    <div class="row">
        <form action="{{ url_for('update_review', review_id=review._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">book</i>
                        <input id="review_name" name="review_name" type="text" class="validate"
                               value="{{ review.review_name }}">
                        <label for="icon_prefix">Review Name</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">menu_book</i>
                    <input id="book_name" name="book_name" type="text" value="{{ review.book_name }}">
                    <label for="icon_telephone">Book Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">create</i>
                    <label for="review_description"></label><textarea id="review_description" name="review_description"
                                                                      class="materialize-textarea">{{ review.review_description }}</textarea>
                    <label for="icon_telephone">Review</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">star</i>
                    <label for="rating"></label><input id="rating" name="rating" type="text"
                                                       value="{{ review.rating }}">
                    <label for="icon_telephone">Rating</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">star</i>
                    <label for="username"></label>{% if session['username'] != None %}
                    <input id="username" name="username" type="text" placeholder="Username"
                           value="{{ session['username'] }}"
                           required>{% endif %}
                    <label for="icon_telephone">Username</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Review
                <i class="material-icons right">done</i>
            </button>
        </form>
    </div>

{% endblock %}