{% extends 'base.html' %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-danger">
                    <button class="close" type="button" data-dismiss="alert">&times;</button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div class="jumbotron bg-info text-center">
        <h1 class="display-3">Read and review - The simple online book review site!</h1>
        <h2> Are you looking to keep track of what you've read, and  find reviews of those book your dying to read? This is how!</h2>
        <hr class="my-4">
        <h3>Our
            "My reviews" function enables you to track what you've read and let others know how you felt about your books! All saved in
            one easy place for you to access and edit whenever you like.</h3>
        <br>
        <h4>Get started today!</h4>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('login_page') }}" role="button">Sign in</a>
             <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
        </p>
    </div>
{% endblock %}
