{% extends 'base.html' %}
{% block content %}
    <div class="register-container container">
        <div class="row justify-content-center">
            <div class="col-8">
                <form method="POST" action="{{ url_for('register') }}">
                      <div class="form-group">
                          <h2>Register account to start reviewing today!</h2>
                        <h2>Create Username</h2>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                       <h2>Create Password</h2>
                        <input type="password" class="form-control" name="pass" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block">Register</button>
                    </div>
                    <div class="form-group">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-danger fade">
                                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>

                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}