{% extends 'base.html' %}
{% block content %}
      {% if success %}
                    <h3>{{ get_flashed_messages }}</h3>
                {% endif %}
    <h1 class="main-title">All reviews</h1>
    {% for review in reviews %}
        <div class="card bg-info mb-3">
            <h3 class="card-header">"{{ review.review_name }}"</h3>
            <div class="card-body">
                <h3 class="card-title"><i class="fas fa-book"></i> {{ review.book_name }}</h3>
                <h4 class="card-subtitle "><i class="fas fa-user-edit"></i> By {{ review.author }}</h4>
            </div>
            <div class="card-body">
                <h4 class="card-subtitle"><i class="fas fa-comment"></i> Review:"{{ review.review_description }}"</h4>
            </div>
            <div class="card-body">
                <h3> Rating: {{ review.rating }} <i class="fas fa-star"></i></h3>
                <h3><i class="fas fa-user"></i> Review by: {{ review.username }}</h3>
            </div>
            <div class="card-body">
                <a class="card-link btn-primary btn" href="https://www.amazon.co.uk/books-used-books-textbooks/b?ie=UTF8&node=266239" target="_blank">Buy Book</a>
            </div>
            <div class="card-footer">
                <h4><i class="fas fa-calendar-day"></i> {{ review.date }}</h4>
            </div>
        </div>
    {% endfor %}

{% endblock %}