{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div id="title" class="text-center mt-5">Book finder</div>
        <div class="row">
            <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="search books...">
                <button id="search" class="btn btn-primary" onclick="">search</button>
            </div>
        </div>
    </div>
    <div class="book-list">
    <h2 class="text-text">Search Results</h2>
    </div>


{% endblock %}